.button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #008080;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
  color: #009999;
}

.button:active {
  color: #00b3b3;
}
