.button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #008080;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  .button {
    margin: 20px 0 0 0;
  }
}

.button:hover {
  color: #009999;
}

.button:active {
  color: #00b3b3;
}

.button:disabled {
  color: #d3d3d3;
  pointer-events: none;
}
