.section {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 34 34 / 5%);
    margin-bottom: 10px;
}

.section__header, .section__main {
    padding: 20px;
    border-bottom: 1px solid #dedede;
}

.section__title {
    margin: 0;
    font-size: 20px;
}