.tasks {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.tasks__list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dedede;
}